<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>CONEST - Controle de Estoque</title>
</head>

<body>
    <div class="container">
        <h1>CONEST</h1>
        <button class="btn"><img src="../public/img/client.png" alt="Cliente" onclick="cliente()"></button>
        <button class="btn"><img src="../public/img/fornecedor.png" alt="Fornecedor" onclick="fornecedor()"></button>
        <button class="btn"><img src="../public/img/produto.png" alt="Produto" onclick="produto()"></button>
        <button class="btn"><img src="../public/img/relatorio.png" alt="Relatórios" onclick="relatorio()"></button>
    </div>
    <footer>
        <p id="dataAtual"></p>
        <img id="statusDb" src="../public/img/dboff.png" alt="database">
    </footer>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="renderer.js"></script>
</body>

</html>